*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.root {
	width: 80%;
}

.splash {
	display: block;
	height: 400px;
	/*background-image: url("./assets/an_logo_medium.png");
	background-size: 20%;
	background-repeat: no-repeat;
	background-position: 50% 50%;*/
}

.splash-particles {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	z-index: 1;
}

.splash-logo-area {
	position: absolute;
	top: 20%;
	left: 50%;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	z-index: 10
}

.splash-logo {
	height: 200px;
	width: 200px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #f00;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-left: 60px solid green;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid blue;
}

.nav-bar {
  height: 80px;
  width: 100%;
  line-height: 80px;
  background-color: #333;
  padding: 0 20px;
  text-align: center;
  color: #ffa700;
}

.about {
	height: 400px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.clients {
	height: 400px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: #78D5E3;
}

.people-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-stack {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans';
}

.card-header-details .icon::before {
	position: relative;
  right: 7px;
  top: 1px;
}
