*, *::before, *::after {
	box-sizing: border-box;
}

html, body, session, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Rokkitt', serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Oswald', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.root {
	width: 80%;
}

.splash {
	display: block;
	height: 400px;
	background-image: url('./assets/splash/Fountain_source.gif');
	background-repeat: no-repeat;
	background-size: cover;
}

.splash-logo-area {
	position: absolute;
	top: 25%;
	left: 50%;
	margin-top: -60px;
	margin-left: -220px;
	z-index: 10
}

.splash-logo {
	height: 120px;
	width: 445px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-left: 60px solid green;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid blue;
}

.nav-bar-text {
  height: 80px;
  width: 100%;
  line-height: 80px;
  background-color: #333;
  padding: 0 20px;
  text-align: center;
  color: white;
	cursor: pointer;
}

.nav-bar {
	z-index: 1000;
	background-color: #333;
	display: flex;
	justify-content: center;
}

.nav-active {
	height: 80px;
  width: 100%;
  line-height: 80px;
  background-color: #333;
  padding: 0 20px;
  text-align: center;
	cursor: pointer;
	color: white;
	border-bottom: solid 5px #019fb6;
}

.about {
	height: 400px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.clients {
	display: block;
	height: 400px;
	background-image: url('./assets/splash/splash02.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.people-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fill {
	width: 100%;
	height: 400px;
	position: relative;
}

.particles {
	height: 400px;
}

.people-quote {
	position: absolute;
	top: 200px;
	left: 10%;
}

.card-stack {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans';
}

.card-header-details .icon::before {
	position: relative;
  right: 7px;
  top: 1px;
}

.pubs-list {
	margin: 1em auto;
	max-width: 1106px;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.pubs-list li {
	display: inline-block;
	margin: 1em;
}

.pubs-list img {
	width: 320px;
	display: block;
	height: 400px;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	transition: all 500ms;
	max-width: 100%;
}

.pubs-list figure {
	height: 400px;
	overflow: hidden;
	position: relative;
	width: 289px;
}

.pubs-list figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	flex-direction: column;
}

.pubs-list figcaption p {
	display: list-item;
	font-size: 1em;
	position: relative;
	top: -40px;
	width: 269px;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
	vertical-align: middle;
	margin-top: 5%;
	margin-left: 10px;
}

.pubs-list figcaption h4 {
	display: list-item;
	font-size: 1.2em;
	position: relative;
	top: -40px;
	width: 269px;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
	vertical-align: middle;
	margin-top: 5%;
	margin-left: 10px;
}

.pubs-list figcaption h4:after {
  display: block;
  content: '';
  border-bottom: solid 1px #019fb6;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
	width: 50%;
	margin-left: 25%;
	padding-bottom: 5%;

}


.pubs-list li:hover figcaption h4:after {
	transform: scaleX(1);
}

.pubs-list li:hover figcaption {
	opacity: 1;
}

.pubs-list li:hover img {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}

.pubs-list li:hover figcaption p {
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}

.pubs-list li:hover figcaption h4 {
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}
