*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.root {
	width: 80%;
}

.splash {
	display: block;
	height 400px;
	/*background-image: url("./assets/an_logo_medium.png");
	background-size: 20%;
	background-repeat: no-repeat;
	background-position: 50% 50%;*/
}

.splash-logo-area {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	margin-top: -60px; /* Half the height */
	margin-left: -60px; /* Half the width */
}

.splash-logo {
	height: 200px;
	width: 200px;
}

.nav-bar {
  height: 80px;
  width: 100%;
  line-height: 80px;
  background-color: #333;
  padding: 0 20px;
  text-align: center;
  color: #ffa700;
}

.about {
	height: 400px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.clients {
	height: 400px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: red;
}

.people-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-stack {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans';
}

.card-header-details .icon::before {
	position: relative;
  right: 7px;
  top: 1px;
}
