.contactContainer {
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  border-top: 1px solid rgba(14, 165, 233, 0.1);
}

@media (max-width: 768px) {
  .contactContainer {
    flex-direction: column;
  }
}
