.about {
	height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.aboutText {
  padding: 10px;
  padding-bottom: 5%;
  font-size: 30px;
  text-align: center;  
}

.splashLogoArea {
  z-index: 10;
  display: flex;
  justify-content: center;
}

.splashLogo {
	max-width: 55%;
}